.nav-item{
    margin-left: 40px;
}
.fa-magnifying-glass{
    margin-right: 20px;
}
.fa-cart-shopping{
    padding-right: 170px;
}
.col-5{
    /* border: 2px solid red; */
}
.col-5 h1{
    font-size: 70px;
    color: #4B3049;
    padding-top: 200px;
    padding-left: 130px;
}
.col-5 h2{
    font-size: 20px;
    color: #4B3049;
    padding-left: 130px;
}
.col-5 button{
    background-color: #B08EAD;
    margin-left: 130px;
    color: white;
    height: 60px;
    width: 180px;
    border: none;
    font-weight: 500;
    border-radius: 10px;
}
.col-5 button:hover{
    color: #B08EAD;
    border: 2px solid #B08EAD;
    background-color: white;
    transition: 0.2s;
}
.col-7{
    /* border: 2px solid blue; */
}
.col-7 img{
    height: 600px;
    width: 850px;
}
.section5{
    height: 1200px;
    width: 100%;
    background-color: #f4edf2;
    margin-top: 100px;
    justify-content: space-between;
}

.section5 h1{
    text-align: center;
    font-family: 'Poppins' , sans-serif;
    font-size: 30px;
    color: #4b3049;   
}

.section6{
    height: 700px;
    width: 100%;
    /* border: 1 px solid black; */
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.s15{
    height: 400px;
    width: 370px;
    /* border: 1px solid black; */
    margin-top: 100px;
}

.s15 img{
    height: 270px;
    width: inherit;
}

.s15 h3{
    font-family: 'Poppins' , sans-serif;
    margin-top: 10px;
    color: #4b3049;
    font-size: 25px;
}

.s15 p{
    font-family: 'Poppins' , sans-serif;
    margin-top: 10px;
    color: #4b3049;
}

.section7{
    height: 700px;
    width: 100%;
    /* border: 1 px solid black; */
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.s16{
    height: 400px;
    width: 370px;
    /* border: 1px solid black; */
    margin-top: -150px;
}

.s16 img{
    height: 270px;
    width: inherit;
}

.s16 h3{
    font-family: 'Poppins' , sans-serif;
    margin-top: 10px;
    color: #4b3049;
    font-size: 25px;
}

.s16 p{
    font-family: 'Poppins' , sans-serif;
    margin-top: 10px;
    color: #4b3049;
}
